<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/bachelorstyle.css" media="screen" />

    <style>
        .bootstrap-select .hidden{
            display: none;
        }

        h1 {
            color: #008ccd;
        }
    </style>

</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="container">

    <h1>Wachplan</h1>

    <p class="mt-2"></p>

    <a th:href="@{/exportToPdf}">Export to PDF</a>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h4 th:text="${#dates.format(guarddaydto.guardingDate, 'dd.MM.yy')}"></h4>
                    <h4 th:text="${#dates.format(currentTime, 'HH:mm')}"></h4>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img th:if="${currentWeatherData ne null}" th:src="'../images/WeatherIcons/' + ${currentWeatherData.icon} + '.png'"/>
                    <img th:if="${currentWeatherData eq null}" src="../static/images/WeatherIcons/notfound.png">
                </div>
                <div class="col-10">
                    <p th:if="${currentWeatherData ne null}" th:text="${currentWeatherData.getTemp()} + '°C'"></p>
                    <p th:if="${currentWeatherData eq null}" th:text="'Wetterdaten konnten nicht geladen werden.'"></p>
                </div>
            </div>
            <form th:action="@{/guardday_execution/saveWatertemp}" th:object="${guarddaydto}" method="post">
                <label>Wassertemp</label>
                <input th:field="*{waterTemp}">

                <button class="btn btn-primary" type="submit">Wasser speichern</button>
            </form>
        </div>
    </div>


    <p class="mt-2"></p>

    <!-- Helfer Auswahl -->
    <form th:action="@{/guardday_execution/saveUser}" th:object="${guarddaydto}" method="post">

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Gebuchte Helfer </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${guarddaydto.userGuardingRelationsBooked.isEmpty()}">
                        <td colspan="2"> - </td>
                    </tr>
                    <tr th:each="userBooked : ${guarddaydto.userGuardingRelationsBooked}">
                        <td th:if="${userBooked.userDto ne null}"><span th:text="${userBooked.userDto.firstName + ' ' + userBooked.userDto.lastName}"> Name </span></td>
                        <td th:if="${!#strings.isEmpty(userBooked.userFreetext)}"><span th:text="${userBooked.userFreetext}"> Name </span></td>
                        <td >
                            <a th:href="@{/guardday_execution/deleteUser/__${userBooked.relationId}__}">

                                <span class="fa fa-trash"></span>

                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Anwesende Helfer </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${guarddaydto.userGuardingRelations.isEmpty()}">
                            <td colspan="2"> - </td>
                        </tr>
                        <tr th:each="userPresent : ${guarddaydto.userGuardingRelations}">
                            <td th:if="${userPresent.userDto ne null}"><span th:text="${userPresent.userDto.firstName + ' ' + userPresent.userDto.lastName}"> Name </span></td>
                            <td th:if="${!#strings.isEmpty(userPresent.userFreetext)}"><span th:text="${userPresent.userFreetext}"> Name </span></td>
                            <td >
                                <a th:href="@{/guardday_execution/deleteUser/__${userPresent.relationId}__}">
                                    <span class="fa fa-trash"></span>

                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <select th:field="*{userToSave}" class="selectpicker" data-live-search="true">
                    <option value="">Nutzer wählen</option>
                    <option th:each="user : ${guarddaydto.allUsers}" th:value="${user.userId}"
                            th:text="${user.firstName + ' ' + user.lastName}"></option>
                </select>
            </div>
            <div class="col-2">
                <input th:field="*{freetextUser}" class="form-control" id="userText" placeholder="Nutzer Eingabe">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Helfer speichern</button>
            </div>
        </div>
    </form>

    <p class="mt-2"></p>

    <!-- Buttons -->
    <div class="row">
        <div class="col-2">
            <form th:action="@{/guardday_execution/startEndGuardday}" th:object="${guarddaydto}" method="post">
                <button class="btn btn-primary" type="submit" th:text="${guarddaydto.actualStartTime == null} ? 'Wachbeginn' : 'Wachende'"></button>
            </form>
        </div>
        <div class="col-2">
            <form th:action="@{/guardday_execution/changeIlsActivity}" th:object="${guarddaydto}" method="post">
                <button class="btn btn-primary" type="submit" th:text="${guarddaydto.ilsActive} ? 'Abmeldung ILS' : 'Anmeldung ILS'"></button>
            </form>
        </div>
    </div>


    <p class="mt-2"></p>

    <form th:action="@{/guardday_execution/saveJournalEntry}" th:object="${guarddaydto}" method="post">

        <label for="textArea">Wachbuch Eintrag</label>
        <textarea class="form-control" id="textArea" rows="3" th:field="*{journalDescription}"></textarea>
        <p class="mt-2"></p>
        <button class="btn btn-primary" type="submit">Eintrag speichern</button>

    </form>

    <p class="mt-2"></p>

    <table class="table">
        <thead>
        <tr>
            <th> Datum </th>
            <th> Name </th>
            <th> Beschreibung </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${guarddaydto.journalEntries.isEmpty()}">
            <td colspan="3"> Keine Einträge vorhanden </td>
        </tr>
        <tr th:each="journalEntry : ${#lists.sort(guarddaydto.journalEntries)}">
            <td><span th:text="${#dates.format(journalEntry.creation, 'dd.MM.yy HH:mm')}"> </span></td>
            <td><span th:text="${journalEntry.userDto ne null ? journalEntry.userDto.firstName + ' ' + journalEntry.userDto.lastName : 'SYSTEM'}"> </span></td>
            <td><span th:text="${journalEntry.description}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>
</body>
</html>