<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Profil</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div th:replace="fragments/header :: navbar"></div>

    <div class="container">
        <table class="table table-striped table-bordered" id="user">
            <tbody>
                <tr>
                    <th>Benutzer ID</th>
                    <td><p th:text="${user.userId}" style="font-size: 14px"/></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><p th:text="${user.email}" style="font-size: 14px"/></td>
                </tr>
                <tr>
                    <th>Vorname</th>
                    <td><p th:text="${user.firstName}" style="font-size: 14px" id="firstName"/></td>
                </tr>
                <tr>
                    <th>Nachname</th>
                    <td><p th:text="${user.lastName}" style="font-size: 14px" /></td>
                </tr>
                <tr>
                    <th>Rolle</th>
                    <td> <p th:text="${user.role}" style="font-size: 14px"/></td>
                </tr>
                <tr>
                    <th>Freigeschaltet</th>
                    <td th:if="${user.active}">Ja</td>
                    <td th:unless="${user.isActive()}">Nein</td>
                </tr>
                <tr>
                    <th>Statistik</th>
                    <td> <p th:text="${statistics.toString()}" style="font-size: 14px"/></td>
                </tr>
            </tbody>
        </table>

        <form sec:authorize="hasRole('ROLE_ADMIN')"
              th:if="${not user.active}"
              th:action="@{/activateUser}"
              th:object="${user}" method="post">

            <button class="btn btn-primary" type="submit">Nutzer aktivieren</button>


        </form>
    </div>

</body>
</html>