<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h1>Alle Nutzer</h1>
    <table id="userTable" class="table table-hover">
        <thead>
            <tr>
                <th> ID </th>
                <th> Email </th>
                <th> Statistik </th>
                <th> Rolle </th>
                <th> Aktiv </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${users.isEmpty()}">
                <td colspan="2"> No Books Available </td>
            </tr>
            <tr th:each="user : ${users}"
                th:onclick="'javascript:rowClicked(\'' + ${user.userId} + '\');'">
                <td><span th:text="${user.userId}"> ID </span></td>
                <td><span th:text="${user.email}"> Email </span></td>
                <td><span th:text="${statisticsmap.get(user.userId).toString()}"> Statistik </span></td>
                <td><span th:text="${user.role}"> Rolle </span></td>
                <td><span th:text="${user.active}"> Aktiv </span></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function rowClicked(value) {
        location.href = "../user/" + value;
    }
</script>

</body>
</html>